h1{
    color: aliceblue;
    text-align: center;
    background-color: #1B5299;
    padding: 50px 25px;
    
    
}
body{
    background-color: #9FC2CC;
    font-family:monospace;
}
a{
    color: rgb(51, 51, 94);
}
div{
    background-color: #818694;
    padding: 44px 37px;
    
}
img{
    width: 200x;
    height: 330px;
}
