

a{
    color: rgb(51, 51, 94);
}
div{
    background-color: #818694;
    text-align: center;
    font-family: 'Playfair Display', serif;


}
img{
    width: 200x;
    height: 330px;
}
a{
    color: antiquewhite;
}
.background{
    background-image: url(img/texture-dark-background-purple-2560x2560-3086.jpg);
}