

a{
    color: rgb(8, 8, 78);
}
div{
    background-color: #818694;
    text-align: center;
    font-family: 'Playfair Display', serif;


}
img{
    width: 200x;
    height: 330px;
}
a{
    color: rgb(255, 255, 255);
}
.background{
    background-image: url(img/texture-dark-background-purple-2560x2560-3086.jpg);
    color: aliceblue;
}